<div class="welcome-container">
  <h1 class="welcome-title">Welcome to ABC Conference!</h1>
</div>

<div class="button-container">
  <a href="/register" class="btn btn-primary btn-custom">Confirm your attendance</a>
  <a href="/attendees" class="btn btn-primary btn-custom">View the attendee list</a>
</div>